<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
<div class="container">
  <div class="nav">
    <div class="nav-item">
      <h4 class="nav-title">Coffee</h4>
    </div>
    <div class="nav-item browse-item">
      <ul>
        <li class="item browse">COFFEE STATISTICS</li>
        <li class="item nav-active">DATA</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="navbar">
      <div class="navbar-item-left">
        <i class="item-left fas fa-angle-left"></i>
        <i class="item-left fas fa-angle-right navbar-item-active"></i>
      </div>
      <div class="navbar-item-right">
        <div class="navbar-item-right-icon">
          <i class="item-right fas fa-search"></i>
          <i class="item-right fas fa-bell"></i>
        </div>
        <div class="profile">
          <img class="profile-pic" src="https://get.pxhere.com/photo/coffee-cup-logo-icon-drink-cafe-restaurant-hot-mug-breakfast-bar-espresso-teacup-chocolate-capuccino-energy-beverage-caffeine-brew-bean-lunch-heat-saucer-wake-grain-yellow-font-smile-emoticon-circle-symbol-illustration-smiley-1447903.jpg" />
        </div>
        <p class="profile-name"> Coffee test<br><span class="profile-menu">Manage Account</span></p>
      </div>
    </div>
    <div class="widget">
      <app-humidity></app-humidity>
      <br/>
      <app-temperature></app-temperature>
    </div>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
